# Configuración de Base de Datos
POSTGRES_USER=usuario_aqui
POSTGRES_PASSWORD=contraseña_aqui
POSTGRES_DB=nombre_db_aqui

# Configuración de MinIO
MINIO_ROOT_USER=usuario_aqui
MINIO_ROOT_PASSWORD=contraseña_aqui

# Configuración de Grafana
GRAFANA_USER=usuario_aqui
GRAFANA_PASSWORD=usuario_aqui