# FastAPI
fastapi
uvicorn
# PostgreSQL
sqlalchemy # ORM (traductor logico)
psycopg2-binary #driver fisico que permite que Python se conecte especificamnte a un motor PostgreSQL
#Minio 
python-multipart #obligatorio en FastAPI para habilitar la subida de archivos fisicos
minio